# xclip setting
alias "c=xclip"
alias "v=xclip -o"
alias "copy=xclip -selection clipboard"

# alias nvim to n
alias "n=nvim"

alias "xo=xdg-open"

alias b='cd ..'
alias bb='cd ../..'
alias bbb='cd ../../..'
alias bbbb='cd ../../../..'
alias bbbbb='cd ../../../../..'

alias mk='make'
alias mkdir='mkdir -p'
alias df='df -h'
alias xo='xdg-open'

